<h1>Employees</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">*</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Hire Date</th>
      <th scope="col">Salary</th>
      <th scope="col">Job Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.hire_date }}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.job_title }}</td>
      <td>
        <button class="btn btn-warning" (click)="openModal(template, employee)">
          Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(employee)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Employee</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex flex-column align-items-center">
    <div>
      <label for="employee-name">Employee name: </label>
      <input
        id="employee-name"
        [(ngModel)]="currentEmployee.name"
        placeholder="Employee name"
      />
    </div>
    <div>
      <label for="employee-email">Employee email: </label>
      <input
        id="employee-email"
        [(ngModel)]="currentEmployee.email"
        placeholder="Employee email"
      />
    </div>
    <div>
      <label for="employee-hire-date">Employee hire date: </label>
      <input
        id="employee-hire-date"
        [(ngModel)]="currentEmployee.hire_date"
        placeholder="Employee name"
      />
    </div>
    <div>
      <label for="employee-salary">Employee Salary: </label>
      <input
        id="employee-salary"
        [(ngModel)]="currentEmployee.salary"
        placeholder="Employee salary"
      />
    </div>

    <div>
      <label for="employee-job-title">Employee job title: </label>
      <input
        id="employee-job-title"
        [(ngModel)]="currentEmployee.job_title"
        placeholder="Employee job title"
      />
    </div>
    <Button class="btn btn-primary" (click)="saveEmployee()">Salvare</Button>
  </div>
</ng-template>
