<div>
  <h1>Employees</h1>
  <span>
    <Button class="btn btn-warning" (click)="openModal(template, actions.Add)"
      >Add</Button
    >
  </span>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">*</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Hire Date</th>
      <th scope="col">Salary</th>
      <th scope="col">Job Title</th>
      <th scope="col">Project</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.hire_date }}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.job_title }}</td>
      <td>{{ employee.projectId }}</td>
      <td>
        <button
          class="btn btn-warning"
          (click)="
            setCurrentEmployee(employee); openModal(template, actions.Edit)
          "
        >
          Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(employee)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 *ngIf="action === actions.Edit" class="modal-title pull-left">
      Edit Employee
    </h4>

    <h4 *ngIf="action === actions.Add" class="modal-title pull-left">
      Add Employee
    </h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex flex-column align-items-center">
    <div>
      <label for="employee-name">Employee name </label>
      <input
        required
        minlength="2"
        id="employee-name"
        [(ngModel)]="currentEmployee.name"
        placeholder="Employee name"
      />
    </div>
    <div>
      <label for="employee-email">Employee email </label>
      <input
        id="employee-email"
        [(ngModel)]="currentEmployee.email"
        placeholder="Employee email"
      />
    </div>
    <div>
      <label for="employee-hire-date">Employee hire date </label>
      <input
        id="employee-hire-date"
        [(ngModel)]="currentEmployee.hire_date"
        placeholder="Employee hire date"
      />
    </div>
    <div>
      <label for="employee-salary">Employee Salary </label>
      <input
        id="employee-salary"
        [(ngModel)]="currentEmployee.salary"
        placeholder="Employee salary"
      />
    </div>

    <div>
      <label for="employee-job-title">Employee job title </label>
      <input
        id="employee-job-title"
        [(ngModel)]="currentEmployee.job_title"
        placeholder="Employee job title"
      />
    </div>

    <div>
      <label for="employee-project">Employee project </label>
      <select [(ngModel)]="selectedProject">
        <option *ngFor="let project of projects" [ngValue]="project">
          {{ project.project_name }}
        </option>
      </select>
    </div>
    <Button
      *ngIf="action === actions.Edit"
      class="btn btn-primary"
      (click)="saveEmployee()"
      >Save</Button
    >

    <Button
      *ngIf="action === actions.Add"
      class="btn btn-primary"
      (click)="addEmployee()"
      >Add</Button
    >
  </div>
</ng-template>
